
<div class="container">
  <% @articles.each do |article| %>
    <div class="border-bottom p-2 m-2">
       <h3><%= link_to article.title, article_path(article), class:"text-decoration-none" %></h3>
       <blockquote class="blockquote"> <p> <%=article.content%> </p> </blockquote>
    </div>
  <% end %>
</div>
