<div class="container">
  <div class="d-flex justify-content-end">
    <%= link_to edit_article_path(@article) do %>
      <i class="fa-solid fa-pen text-blue m-3"></i>
    <% end %>
    <%= link_to article_path(@article), data: {turbo_method: :delete, turbo_confirm: 'validation?'} do %>
      <i class="fa-solid fa-trash text-danger m-3"></i>
    <% end %>
</div>

  <h2> <%=@article.title%></h2>
  <p> <%=@article.content%> </p>
  </div>
